doctype html
html.has-navbar-fixed-top(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Template for static site")
    title Template for static site
    link(rel="icon" href="/favicon.ico" type="image/png")
    link(rel="stylesheet" href="/css/styles.min.css")
    script(src="/js/scripts.min.js" defer)

  body
    include ../partials/header.pug
    main
      block content
    include ../partials/footer.pug
