extends ../base/base.pug
block content
  section.section
    .container.content
      h1 Documentation

      h2 Pug
      p: a(href="https://pugjs.org/api/getting-started.html" target="_blank" rel="noopener") Documentation

      h2 Sass
      p: a(href="https://sass-lang.com/documentation" target="_blank" rel="noopener") Documentation

      h2 Bulma
      p: a(href="https://bulma.io/documentation/" target="_blank" rel="noopener") Documentation

      h2 Gulp
      p: a(href="https://gulpjs.com/docs/en/getting-started/quick-start" target="_blank" rel="noopener") Documentation
