extends ../base/base.pug
block content
  section.hero
    .hero-body
      .container
        h1.title Template for static site
        .level
          .level-item.has-text-centered
            img(src="/images/pug.png" alt="Pug logo" title="Pug")
          .level-item.has-text-centered
            img(src="/images/sass.png" alt="Sass logo" title="Sass")
          .level-item.has-text-centered
            img(src="/images/bulma.png" alt="Bulma logo" title="Bulma")
          .level-item.has-text-centered
            img(src="/images/gulp.png" alt="Gulp logo" title="Gulp")
